<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Platformer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC9D47FA1BDAC1A1002EF796</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC9D48121BDAC1A2002EF796</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC9D481D1BDAC1A2002EF796</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
